/*----------------------------
        COLOR FONTS
----------------------------*/

p,h1,h2,h3,h4,h5,h6{
    color: #454545;
}


.h5-cart {

	font-size: 20px;
	letter-spacing: 2px;
	color: #252525;
	font-weight: bold;
	letter-spacing: 0.5px;
	text-transform: uppercase;
}
/*----------------------------
        	BODY
----------------------------*/

body {
	background: #FFF;
	font-weight: normal;
	position: relative;
	font-size: 14px;
}



/*----------------------------
        	MAP
----------------------------*/

#map {
	height: 530px;
	margin-bottom: 0px;
}
/*=======================================================
			CONTACT FORM
========================================================*/
.contact {
	padding: 100px 0;
}
.contact #contact_form {
	text-align: center;
}
.contact .error {
	border: 1px solid red;
}
.success-msg {
	background: #fff;
	border: 1px solid #2d3a4b;
	color: #589051;
	margin-bottom: 30px;
	width: 100%;
	display: inline-block;
	text-align: center;
	padding: 11px 16px;
	border-radius: 4px;
	display: none;
}
.success-msg i {
	padding: 10px;
	border-radius: 50%;
	border: 1px solid #ABD0A8;
	margin-right: 10px;
}
#contact_form li {
	text-align: left;
	margin-bottom: 10px;
}
#contact_form li input {
	display: inline-block;
	width: 100%;
	height: 45px;
	padding: 0 10px;
	margin-top: 15px;
}
#contact_form li .error {
	border: 1px solid #CCC;
	border-bottom: 1px solid red;
}
#contact_form li .form-control {
	height: 45px;
	border: 1px solid #2d3a4b;
	box-shadow: none;
	border-radius: 0px;
	background: #fff;
}
#contact_form li textarea {
	height: 140px !important;
	margin-top: 10px;
}
#contact_form li .btn {
	text-transform: uppercase;
	padding: 0px 40px;
	height: 45px;
	line-height: 45px;
	font-size: 14px;
	margin-top: 15px;
}
#contact_form li .btn:hover {
	background: #ffe115;
}
.contact-form .tittle {
	text-align: center;
}
.contact-form .tittle hr {
	width: 28px;
	height: 5px;
	margin: 15px auto;
	background: #448aff;
	border: none;
}
.contact-form .tittle p {
	text-transform: none;
	font-size: 16px;
}
.contact-form label {
	font-weight: normal;
	color: #2d3a4b;
	font-size: 12px;
	text-transform: uppercase;
	display: inline-block;
	width: 100%;
	margin: 0px;
	margin-bottom: 13px;
}
.contact-form textarea {
	display: inline-block;
	width: 100%;
	position: relative;
	padding: 10px 20px;
}

.contact h5 {
	color: #2d3a4b;
	margin-top: 0px;
	font-size: 20px;
	letter-spacing: 2px;
	margin-bottom: 50px;
}
.contact-info li {
	position: relative;
	padding-left: 30px;
	margin-top: 20px;
	margin-bottom: 10px;
}
.contact-info li p {
	line-height: 20px;
	font-size: 12px;
}
.contact-info li i {
	position: absolute;
	top: 0px;
	left: 0px;
	line-height: 30px;
	font-size: 12px;
}
.contact-info li {
	font-size: 12px;
	line-height: 30px;
}
.contact-info h6 {
	margin-top: 0px;
	font-size: 12px;
	font-weight: normal;
}
.contact-info {
	border: 2px solid #ffe115;
	padding: 40px;
	margin-top: 0px;
}
.single-img-demos .item:hover .img-1 {
	left: 0px;
}
.single-img-demos .item:hover img {
	-webkit-transform: scale3d(1.1, 1.1, 1);
	transform: scale3d(1.1, 1.1, 1);
}
/*----------------------------
            FONTS
----------------------------*/
:root{
    --font1: 'Raleway', sans-serif;
    --font2: 'Nunito', sans-serif;
}

.font1{
    font-family: 'Raleway', sans-serif;
    font-weight: bold !important;
    letter-spacing: 3px;
}

.font2 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold !important;
    color: #6795a0 !important;
}
.font3{
    font-family: var(--font2) !important;
    font-size: 15px;
}

.logo {
    height: 85px;
    margin: 0 auto !important;
}
.inline{
    display: inline;
}

/*----------------------------
            NAVBAR
----------------------------*/

nav{
    background: #f8f8f8;
}

.search-box {
    width: 350px;
}

.search-box-border{
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: #ccc !important;
    padding: 0px 10px !important;
    font-size: 12px;
    box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.1);
}

.glass{
    border: 0 none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.1);
}

.shopping-cart{
    color: darkslategrey !important;
    font-size: 16px !important;
}


/*----------------------------
            LOGIN
----------------------------*/

.logincard{
    background-image: url('../img/backgroundloginopacity.png') !important;
    background-position-x: 0em;
    background-position-y: -25em;
}

/*----------------------------
            REGISTER
----------------------------*/

.registercard{
    background-image: url('../img/backgroundloginopacity.png') !important;
    background-position-x: -50em;
    background-position-y: -40em;
    background-size: 1 2000px !important;
    background-repeat: no-repeat;
}

/*----------------------------
        RESET PASSWORD
----------------------------*/

.reseatcard{
    background-image: url('../img/reseatlogoopacity.png') !important;
    background-position-x: 20em;
    background-position-y: -3em;
    background-repeat: no-repeat;
}

.button-details{
    border-radius: 15px;
    padding: 8px 50px !important;
    font-size: 12px;
    margin: 0 auto;
}

.char-size{
    font-size: 11px;
}


/*----------------------------
            HOME
----------------------------*/
.heading {
    position: relative;
	z-index: 1;
	font-weight: bold;
	color: #2d3a4b;
	font-size: 26px;
	margin: 0px;
	margin-bottom: 20px;
    letter-spacing: 5px;
}

/*=======================================================
      NEW ARRIVAL
========================================================*/

.papular-block .item-img {
	position: relative;
	overflow: hidden;
}
.papular-block .owl-prev {
	position: absolute;
	top: 50%;
	left: -50px;
	height: 23px;
	width: 23px;
	border: 1px solid #000;
	text-align: center;
	line-height: 21px;
}
.papular-block .owl-next {
	position: absolute;
	top: 50%;
	right: -50px;
	height: 23px;
	width: 23px;
	border: 1px solid #000;
	text-align: center;
	line-height: 21px;
}
.papular-block .overlay {
	background: rgba(255,255,21,0.75);
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;
	opacity: 0;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
.papular-block .item:hover .overlay {
	opacity: 1;
}
.papular-block .item-img {
	margin-bottom: 30px;
}
.papular-block .overlay .inn {
	display: inline-block;
	border-radius: 30px;
	background: #52594a;
	text-align: center;
	color: #fff;
	height: 45px;
	margin: 10px 0;
	padding: 0 20px;
}
.papular-block .tooltip .tooltip-inner {
	font-style: italic;
	font-size: 12px;
}
.tooltip-inner {
	padding: 4px 14px;
	font-family: 'Playfair Display', serif;
}
.tooltip.top .tooltip-arrow {
	bottom: 1px;
}
.papular-block .position-center-center {
	width: 100%;
	text-align: center;
}
.papular-block .overlay .inn a {
	display: inline-block;
	font-size: 16px;
	color: #fff;
	margin: 0 8px;
	line-height: 45px;
}
.papular-block .price {
	font-size: 18px;
	font-weight: bold;
	z-index: 9;
	display: inline-block;
	width: 100%;
	text-align: center;
	margin-top: 20px;
	color: #2d3a4b;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
.papular-block .price small {
	font-size: 12px;
	display: inline-block;
	vertical-align: top;
}
.papular-block .overlay a:hover {
}
.papular-block .item img {
	width: 100%;
	margin-top: 0px;
	top: 0px;
	left: 0px;
	position: relative;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
.papular-block .item:hover .img-1 {
	left: -100%;
}
.papular-block .item .img-2 {
	position: absolute;
	left: 100%;
}
.papular-block .item:hover .img-2 {
	left: 0px;
}
.papular-block .item-name {
	width: 100%;
	text-align: center;
	z-index: 9;
}
.papular-block .item-name p {
	font-family: 'Playfair Display', serif;
	font-size: 14px;
	margin: 0px;
	margin-top: 10px;
}
.papular-block .item-name a {
	font-size: 22px;
	font-weight: bold;
	letter-spacing: 3px;
	color: #2d3a4b;
	text-transform: uppercase;
}
.papular-block .item-name a:hover {
	color: #ffe115;
}
.on-sale {
	background: #ffe115;
	position: absolute;
	height: 50px;
	width: 50px;
	top: 0px;
	right: 0px;
	z-index: 99;
	text-align: center;
	color: #fff;
	font-weight: bold;
	line-height: 16px;
	font-size: 18px;
	padding-top: 10px;
}
.on-sale span {
	font-size: 12px;
	font-weight: normal;
}
.shop-page .item {
	margin-bottom: 50px;
	position: relative;
}
.shop-item .item {
	width: 20%;
}
.item-display {
	margin-bottom: 50px;
}
.item-display {
	color: #CCC;
}
.item-display span.product-num {
	display: inline-block;
	width: 100%;
	line-height: 40px;
}
.item-display .grid-style {
	display: inline-block;
	font-size: 20px;
	margin-top: 10px;
	margin-left: 20px;
}
.item-display .list-style {
	display: inline-block;
	font-size: 26px;
	margin-top: 5px;
	float: right;
	margin-left: 20px;
}
.shop-items .item {
	background: #f7f7f7;
	position: relative;
	padding: 80px 0;
	padding-bottom: 50px;
}
.shop-items .item .item-name {
	padding: 0 50px;
	margin-bottom: 20px;
	text-align: right;
}
.shop-items .item .item-img {
	position: relative;
	overflow: hidden;
}
.shop-items .inn {
	display: inline-block;
	border-radius: 30px;
	background: #2d3a4b;
	text-align: center;
	color: #fff;
	height: 45px;
	max-width: 150px;
	position: absolute;
	bottom: -100px;
	left: 0px;
	right: 0px;
	margin: 10px auto;
	padding: 0 20px;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
.shop-items .item:hover .inn {
	bottom: 0px;
}
.shop-items .inn a {
	display: inline-block;
	font-size: 16px;
	color: #fff;
	margin: 0 8px;
	line-height: 50px;
}
.shop-items .item-name a {
	font-size: 22px;
	font-weight: bold;
	letter-spacing: 3px;
	color: #2d3a4b;
	margin-bottom: 10px;
	text-transform: uppercase;
}
.shop-items .item-name p {
	font-family: 'Playfair Display', serif;
}
.shop-items .price {
	font-size: 18px;
	font-weight: bold;
	z-index: 9;
	display: inline-block;
	width: 100%;
	text-align: center;
	margin-top: 50px;
	color: #2d3a4b;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
.shop-items .price small {
	font-size: 12px;
	display: inline-block;
	vertical-align: top;
}
.single-img-demos .item:hover .img-1 {
	left: 0px;
}
.single-img-demos .item:hover img {
	-webkit-transform: scale3d(1.1, 1.1, 1);
	transform: scale3d(1.1, 1.1, 1);
}


/*=======================================================
      PRODUCT DESCRIPTION
========================================================*/
.item-decribe {
	margin-top: 100px;
}
.item-decribe .tab-content {
	margin-top: 30px;
}
.item-decribe .tab-content p {
	font-size: 13px;
	font-family: 'Playfair Display', serif;
}
.item-decribe .nav-tabs {
	border: none;
	margin: 0px;
	display: inline-block;
	border-right: none;
	width: 100%;
	border-bottom: 1px solid #d1d5db;
}
.item-decribe .nav-tabs a {
	border: none;
	margin: 0px;
	padding: 10px 0px;
	font-size: 14px;
	letter-spacing: 2px;
	border-bottom: 2px solid;
	border-color: transparent;
}
.item-decribe .nav-tabs>li>a:hover {
	background: none;
	border-bottom: 2px solid #ffe115;
}
.item-decribe .nav-tabs li {
	float: left;
	margin-right: 40px !important;
	display: inline-block;
}
.item-decribe .nav-tabs>li.active>a {
	border: none;
	border-bottom: 2px solid #ffe115;
}
.item-decribe .nav-tabs>li {
	margin: 0px;
}
.item-decribe .avatar {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
}
.item-decribe .avatar img {
	border-radius: 50%;
}
.item-decribe .media-body p {
	width: 100%;
}
.item-decribe ul {
	margin-top: 10px;
}
.item-decribe h6 {
	font-weight: normal;
	margin-top: 30px;
}
.item-decribe ul p {
	margin-bottom: 0px;
}
.item-decribe .media-body h6 {
	font-size: 12px;
	margin-top: 0px;
	padding: 0px;
	margin-bottom: 10px;
	border: none;
	font-weight: normal;
}
.item-decribe .media {
	border-bottom: 1px solid #ebebeb;
	padding-bottom: 20px;
	padding-bottom: 10px;
	margin: 0px;
	margin-bottom: 20px;
	display: inline-block;
	width: 100%;
}
.item-decribe form {
	margin-top: 50px;
}
.item-decribe form label {
	display: inline-block;
	width: 100%;
	font-size: 11px;
	font-weight: normal;
	margin-bottom: 20px;
}
.item-decribe form input {
	width: 100%;
	margin-top: 10px;
	padding: 0 10px;
	display: inline-block;
	height: 40px;
	border: 1px solid #ebebeb;
}
.item-decribe form textarea {
	width: 100%;
	margin-top: 10px;
	padding: 10px;
	display: inline-block;
	height: 140px;
	border: 1px solid #ebebeb;
}
.item-detail-page .item-decribe .stars span {
	color: #272727;
}
.item-detail-page .item-decribe .stars {
	margin: 0px;
	color: #b8b8b8;
}
.item-detail-page .large-detail img {
	margin-bottom: 30px;
}

/*=======================================================
      SHOP DETAIL PAGES
========================================================*/
.shop-detail {
}
.shop-detail .price {
	font-size: 18px;
	font-weight: bold;
	z-index: 9;
	display: inline-block;
	width: 100%;
	text-align: left;
	margin-top: 10px;
	color: #2d3a4b;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
.shop-detail p {
	font-family: 'Playfair Display', serif;
}
.shop-detail h4 {
	color: #2d3a4b;
	letter-spacing: 2px;
}
.shop-detail .price small {
	font-size: 12px;
	display: inline-block;
	vertical-align: top;
}
.shop-detail .item-owner {
	margin: 30px 0;
	border-top: 1px solid rgba(0,0,0,0.1);
}
.shop-detail .item-owner li {
	font-size: 12px;
	color: #2d3a4b;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	line-height: 36px;
}
.shop-detail .item-owner li span {
	color: #ffe115;
}
.shop-detail .quinty .btn {
	border: 1px solid #2d3a4b;
}
.shop-detail .quinty .bootstrap-select .btn {
	padding: 0px 10px;
	font-size: 12px;
}
.shop-detail .bootstrap-select {
	width: 100%;
}
.shop-detail .bootstrap-select.btn-group .dropdown-menu li {
	margin: 0px !important;
}
.shop-detail .colors-shop li {
	line-height: 30px;
	margin-bottom: 0px !important;
}
.shop-detail .some-info li {
	margin-bottom: 20px;
}
.shop-detail .some-info .btn {
	width: 100%;
	padding: 0px;
}
.shop-detail .some-info .btn:hover {
	background: #ffe115;
}
.shop-detail .some-info .like-us {
	font-size: 16px;
	margin-top: 10px;
	color: #ffe115;
	line-height: 30px;
}
.shop-detail h6 {
	font-weight: normal;
	font-size: 14px;
	color: #2d3a4b;
	margin: 0px;
	padding: 15px 0;
	border-bottom: 1px solid #d1d5db;
}
.inner-info p {
	font-size: 12px;
	margin: 15px 0;
	margin-bottom: 0px;
}
.inner-info .social_icons li {
	display: inline-block;
	margin-top: 15px;
}
.inner-info .social_icons li a {
	font-size: 16px;
	margin: 0 5px;
	color: #2d3a4b;
}
.images-slider {
	position: relative;
	background: #f7f7f7;
	z-index: 1;
}
.images-slider:before {
	height: 120px;
	position: absolute;
	bottom: 0px;
	width: 100%;
	background: #fff;
	content: "";
	z-index: -1;
}
.images-slider .slides {
	display: inline-block;
	width: 100%;
}

.img-responsive {
	max-width: 100% !important;
}

/*=======================================================
			FOOTER
========================================================*/

footer p {
	font-size: 12px;
	line-height: 26px;
	color: #999999;
}
footer h6 {
	color: #fff;
	margin-top: 0px;
	font-size: 14px;
	margin-bottom: 42px;
	letter-spacing: 1.5px;
}
footer {
	padding: 120px 0;
	padding-bottom: 60px;
	background: #171e27;
	position: relative;
	z-index: 1;
}
.about-footer i {
	width: 20px;
	display: inline-block;
}
.about-footer p {
	margin-bottom: 20px;
}
footer li a {
	font-size: 12px;
	color: #999999;
	line-height: 26px;
	display: inline-block;
	width: 100%;
	letter-spacing: 0px;
}
footer li a:hover {
	color: #fff;
}
.rights .go-up {
	border: 1px solid #454545;
	color: #949494;
	height: 30px;
	width: 30px;
	float: right;
	position: absolute;
	right: 0px;
	left: 0px;
	margin: 0 auto;
	bottom: -60px;
	text-align: center;
	line-height: 30px;
	display: inline-block;
}
.rights .go-up:hover {
	background: #fff;
	color: #333;
}
.rights {
	position: relative;
	text-align: center;
	display: inline-block;
	width: 100%;
	margin-top: 100px;
}
.rights p {
	margin: 0px;
	font-size: 10px;
	line-height: 26px;
	color: #999999;
}
.light-rights {
	background: #eceaea;
}
footer .social_icons {
	display: inline-block;
	margin-top: 20px;
}
footer .social_icons li {
	margin-right: 5px;
}
footer .social_icons a {
	font-size: 14px;
	margin-right: 20px;
	border-radius: 50%;
	line-height: 34px;
	color: #949494;
	display: inline-block;
	text-align: center;
}
.footer-info h6 {
	font-size: 12px;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 2px;
	font-weight: 600;
	margin-bottom: 30px;
}
.news-letter p {
	font-size: 13px;
}
footer .subscribe {
	border-bottom: 1px solid rgba(255,255,255,0.1);
	padding-bottom: 20px;
	margin-top: 10px;
	display: inline-block;
	width: 100%;
}
footer .subscribe button {
	background: #965452 !important;
	border: none;
	float: right;
	margin-top: -45px;
	height: 40px;
	color: #fff;
	padding: 0 20px;
	line-height: 40px;
	z-index: 9;
	position: relative;
}
footer .subscribe input {
	width: 100%;
	border: none;
	height: 40px;
	font-size: 12px;
	font-family: 'Montserrat', sans-serif;
	padding: 0 10px;
	margin-bottom: 5px;
}
.footer-info .links li {
	position: relative;
}
.footer-info .links li a:before {
	content: "\f105 ";
	font-family: FontAwesome;
	color: #8e8e8e;
	position: absolute;
	left: 0px;
	font-size: 12px;
	padding: 0px;
	font-weight: 100;
}
.footer-info .links li a {
	color: #999999;
	padding-left: 15px;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
}
.footer-info .links li a:hover {
	color: #fff;
}
.footer-info .quote .form-control {
	background: none;
	border-radius: 0px;
	border: none;
	border-bottom: 1px solid #45515d;
	margin-bottom: 20px;
	height: 40px;
	font-size: 13px;
}
.footer-info .quote textarea.form-control {
	height: 80px;
}
.footer-info .personal-info {
	margin-top: 30px;
}
.footer-info .personal-info li {
	color: #999999;
	font-size: 12px;
	line-height: 24px;
	padding: 10px 0;
	padding-top: 0px;
	margin-bottom: 10px;
	letter-spacing: 0.5px;
	display: inline-block;
	width: 100%;
	font-weight: 500;
	border-bottom: 1px solid #414141;
}
.footer-info .flicker {
	margin: 0 -3px;
	margin-top: 20px;
}
.footer-info .flicker a:hover {
	opacity: 0.5;
}
.footer-info .flicker .owl-dots {
	text-align: center;
}
.footer-info .flicker .owl-dots .owl-dot {
	display: inline-block;
	height: 5px;
	width: 5px;
	margin: 0 2px;
	background: rgba(255,255,255,0.2);
	border-radius: 4px;
}
.footer-info .flicker .owl-dots .owl-dot.active {
	background: #fff;
}
.footer-info .personal-info li i {
	font-size: 16px;
	color: #929292;
	margin-right: 10px;
	float: left;
	width: 30px;
	margin-top: 3px;
	margin-bottom: 8px;
}
.foot-info-con {
	display: inline-block;
	width: 100%;
	margin-top: 80px;
}
.foot-info-con li a {
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 400;
}
.foot-info-con .icon {
	height: 90px;
	width: 90px;
	color: #fff;
	background: #3f4955;
	text-align: center;
	line-height: 90px;
	display: inline-block;
	border-radius: 0px;
	font-size: 20px;
	margin-right: 10px;
	border-radius: 50%;
}
.foot-info-con p {
	font-size: 14px;
	margin: 0px;
}
.foot-info-con h6 {
	font-weight: normal;
	font-family: 'Ubuntu';
	color: #fff;
	font-weight: bold;
	margin-top: 20px;
	font-size: 15px;
	text-transform: none;
	margin-bottom: 4px;
	letter-spacing: 2px;
}
.footer-light {
	background: #f9f9f9;
}
.footer-light h6 {
	color: #333333;
}
.footer-light .rights {
	margin-top: 60px;
	background: #efeeee;
}

/*=======================================================
      Knowledge Share
========================================================*/
.knowledge-share {
	position: relative;
}
.knowledge-share:before {
	position: absolute;
	left: 0px;
	right: 0px;
	height: 100%;
	width: 1px;
	background: #d1d5db;
	content: "";
	margin: 0 auto;
}
.knowledge-share .date span {
	color: #2d3a4b;
}
.knowledge-share li {
	padding: 50px 0;
}
.knowledge-share li:nth-child(1) {
	padding-right: 100px;
}
.knowledge-share li:nth-child(2) {
	padding-left: 100px;
}
.knowledge-share li:nth-child(3) {
	padding-right: 100px;
}
.knowledge-share li:nth-child(4) {
	padding-left: 100px;
}
.knowledge-share .date .huge {
	color: #2d3a4b;
	line-height: 80px;
	font-size: 80px;
	display: inline-block;
	width: 100%;
	font-weight: bold;
}
.knowledge-share p {
	font-family: 'Playfair Display', serif;
	max-width: 400px;
}
.knowledge-share a {
	font-weight: bold;
	font-size: 22px;
	font-weight: bold;
	letter-spacing: 3px;
	color: #2d3a4b;
	margin-top: 20px;
	margin-bottom: 10px;
	display: inline-block;
	text-transform: uppercase;
}
.knowledge-share a:hover {
	color: #ffe115;
}
.news-letter {
	background: #131920;
}
.news-letter form {
	max-width: 770px;
	margin: 0 auto;
}
.news-letter form input {
	height: 53px;
	width: 70%;
	padding: 0 20px;
	display: inline;
	font-size: 12px;
	float: left;
}
.news-letter form button {
	height: 53px;
	float: right;
	border: 1px solid #fff;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	background: none;
	width: 28%;
}
.news-letter form button:hover {
	background: #fff;
	color: #131920;
}
.news-letter.style-2 {
	background: #5b53a6;
}
.news-letter.style-2 .heading span {
	color: #fff;
}
.news-letter.style-2 form input {
	border-radius: 50px;
	border: none;
}
.news-letter.style-2 form button {
	border-radius: 50px;
}
.comments .media-body h4 {
	color: #222222;
}
.comments .media-body h4 span {
	font-size: 12px;
	color: #777777;
	margin-left: 20px;
	display: inline-block;
	width: 100%;
}
.comments .media-body a {
}
.comments {
	margin-top: 30px;
}
.comments .media-list {
	margin-bottom: 30px;
}
.comments .media-list li {
	position: relative;
	margin-bottom: 30px;
	display: inline-block;
	width: 100%;
}
.comments .media-left {
	margin-right: 20px;
}
.comments .media-left a {
	width: 70px;
	margin-right: 20px;
	display: inline-block;
}
.comments .media-body {
	position: relative;
	margin-bottom: 30px;
}
.comments h4 {
	font-weight: 500;
	margin: 0px;
	font-size: 20px;
	margin-bottom: 30px;
}
.comments .media p {
	font-size: 13px;
	line-height: 24px;
	margin-bottom: 0px;
}
.comments .media h6 span {
	font-size: 12px;
	color: #2d3a4b;
	margin: 0;
	display: inline-block;
	margin-bottom: 5px;
	margin-top: 10px;
	font-weight: bold;
	margin-left: 20px;
	text-transform: none;
	display: inline-block;
}
.comments .media h6 span i {
	margin-right: 10px;
}
.comments .media {
	margin-top: 40px;
}
.comments .media h6 {
	font-weight: normal;
	color: #666666;
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 16px;
}
.comments .raply {
	position: relative;
	margin-top: 20px;
	display: inline-block;
	text-transform: none;
	font-weight: bold;
	font-size: 12px;
	color: #2d3a4b;
	margin-bottom: 0px;
}
.comments .avatar {
	display: inline-block;
}
.comments .btn.raply:hover {
	background: #00b1f1;
	color: #fff;
}
.comments .media a img {
	margin-bottom: 10px;
	width: 100%;
}
.comments form label {
	text-transform: uppercase;
	font-weight: 500;
	margin-top: 20px;
	display: inline-block;
	width: 100%;
	color: #333333;
	font-size: 10px;
}
.comments form .form-control {
	display: inline-block;
	width: 100%;
	height: 40px;
	margin-top: 5px;
	border-radius: 0px;
	box-shadow: none;
	background: none;
	border: 1px solid #2d3a4b;
}
.comments form textarea.form-control {
	display: inline-block;
	width: 100%;
	height: 150px;
}
.comments {
	margin-bottom: 50px;
}

/*=======================================================
      SHOP SIDE BAR
========================================================*/
.shop-sidebar .search {
	margin-bottom: 50px;
	padding-left: 15px;
}
.shop-sidebar .search input {
	color: #2d3a4b;
	text-transform: uppercase;
	border: 1px solid #2d3a4b;
}
.shop-sidebar {
	position: relative;
}
.shop-sidebar ul {
	padding-left: 15px;
}
.shop-tittle {
	font-size: 18px;
	text-transform: uppercase;
	color: #2d3a4b;
	padding-left: 15px;
	position: relative;
}
.shop-tittle:before {
	content: "";
	height: 6px;
	width: 6px;
	background: #ffe115;
	position: absolute;
	left: 0px;
	top: 6px;
}
.shop-cate a {
	position: relative;
	color: #2d3a4b;
	line-height: 38px;
	border-bottom: 1px solid #d1d5db;
	display: inline-block;
	width: 100%;
	font-size: 14px;
	padding-left: 10px;
}
.shop-cate li:nth-last-child(1) a {
	border-bottom: none;
}
.shop-cate a span {
	float: right;
}
.shop-cate a:before {
	content: "";
	height: 3px;
	width: 1px;
	line-height: 38px;
	background: #2d3a4b;
	position: absolute;
	left: 0px;
	top: 17px;
}
.shop-cate a:hover {
	color: #ffe115;
}
.shop-tags li {
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 5px;
}
.shop-tags li a {
	position: relative;
	z-index: 1;
	color: #333;
}
.shop-tags li a:before {
	content: "";
	height: 5px;
	width: 0px;
	background: #ffe115;
	position: absolute;
	left: 0px;
	top: 9px;
	z-index: -1;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
.shop-tags li a:hover:before {
	width: 100%;
}
.shop-sidebar .colors li {
	display: inline-block;
}
.shop-sidebar .colors li a {
	height: 13px;
	width: 13px;
	display: inline-block;
	border-radius: 50%;
	margin-right: 5px;
}
.colors-shop li {
	display: inline-block;
}
.colors-shop li a {
	height: 13px;
	width: 13px;
	display: inline-block;
	border-radius: 50%;
	margin-right: 5px;
}
.side-bnr {
	position: relative;
	text-align: center;
}
.side-bnr .position-center-center {
	width: 100%;
	padding-left: 30px;
}
.shop-sidebar .price {
	font-size: 26px;
	font-weight: bold;
	z-index: 9;
	display: inline-block;
	width: 100%;
	text-align: left;
	margin-bottom: 10px;
	color: #2d3a4b;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
.shop-sidebar .price small {
	font-size: 12px;
	display: inline-block;
	vertical-align: top;
}
.side-bnr .bnr-text {
	font-size: 42px;
	color: #ffe115;
	max-width: 100px;
	text-align: left;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0px;
	line-height: 35px;
	position: relative;
}
.chart-page .payment_steps {
	margin: 30px 0;
	text-align: center;
}
.chart-page .payment_steps i {
	font-size: 24px;
	border: 1px solid #ebebeb;
	height: 73px;
	width: 73px;
	border-radius: 50%;
	line-height: 71px;
	position: relative;
	color: #b8b8b8;
	margin-bottom: 20px;
}
.chart-page .payment_steps h6:before {
	content: "";
	background: #ebebeb;
	height: 18px;
	width: 2px;
	position: absolute;
	top: 85px;
	left: 0px;
	right: 0px;
	margin: 0 auto;
}
.chart-page .payment_steps h6 {
	font-size: 12px;
	margin: 20px 0;
	font-weight: normal;
	color: #272727;
}
.chart-page .payment_steps .current i {
	color: #af5875;
}
.chart-page .payment_steps .current h6 {
	color: #af5875;
}
.chart-page .shopping-cart {
	position: relative;
	overflow: hidden;
}
.shopping-cart .item-img {
	width: 170px;
	display: inline-block;
}
.shopping-cart .media-body {
	position: relative;
}
.shopping-cart .price {
	font-size: 18px;
	font-weight: bold;
	z-index: 9;
	color: #2d3a4b;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
.shopping-cart .price small {
	font-size: 12px;
	display: inline-block;
	vertical-align: top;
}
.shopping-cart .position-center-center {
	width: 100%;
}
.shopping-cart .col-sm-6 .position-center-center {
	width: 100%;
	padding: 0 20px;
	text-align: left;
}
.shopping-cart h5 {
	letter-spacing: 2px;
	color: #2d3a4b;
	margin-bottom: 0px;
}
.shopping-cart .bootstrap-select {
	width: 100% !important;
}
.shopping-cart .quinty {
	position: relative;
	padding: 0 15px;
}
.shopping-cart .quinty .btn {
	border: 1px solid #2d3a4b !important;
	color: #2d3a4b !important;
}
.shopping-cart .quinty .bootstrap-select .btn {
	padding: 0px 10px;
	font-size: 12px;
}
.shopping-cart .bootstrap-select.btn-group .dropdown-menu li {
	min-height: inherit;
}
.shopping-cart img {
	width: 100%;
}
.shopping-cart li {
	position: relative;
}
.shopping-cart li input {
	display: inline-block;
	width: 100%;
}
.shopping-cart li {
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	color: #af5875;
}
.shopping-cart li input {
	border: 1px solid #ebebeb;
	width: 60px;
	font-family: 'Montserrat', sans-serif;
	height: 44px;
	float: left;
	width: 100%;
	display: inline-block;
	text-align: center;
}
.shopping-cart li a {
	color: #272727;
	font-size: 16px;
}
.shopping-cart .cart-details {
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid #d1d5db;
}
.shopping-cart .cart-details li {
	min-height: 150px;
}
.shopping-cart .cart-details h6 {
	font-weight: normal;
	font-size: 12px;
}
.shopping-cart .cart-head {
	display: inline-block;
	width: 100%;
	padding: 0px 0;
	border-bottom: 1px solid #d1d5db;
	padding-bottom: 20px;
	margin-bottom: 30px;
}
.shopping-cart .cart-head h6 {
	margin: 0px;
	font-weight: normal;
	font-size: 12px;
}
.shopping-cart .btn-sec {
	display: inline-block;
	width: 100%;
}
.shopping-cart .btn-sec .btn {
	padding: 15px 30px;
	float: left;
	font-size: 12px;
	margin-right: 20px;
	font-family: 'Montserrat', sans-serif;
}
.shopping-cart .btn-sec .btn i {
	margin-right: 10px;
	font-size: 16px;
}
.shopping-cart .btn.right-btn {
	float: right;
	margin-right: 0px;
}
.shopping-cart .cart-ship-info {
	text-align: left;
	margin-top: 50px;
}
.shopping-cart .cart-ship-info h6 {
	margin-bottom: 60px;
	margin-top: 0px;
	color: #2d3a4b;
	font-size: 20px;
	letter-spacing: 3px;
}
.shopping-cart .cart-ship-info h6:before {
	width: 60px;
	height: 2px;
	background: #2d3a4b;
	border: none;
	content: '';
	display: inline-block;
	position: absolute;
	margin-top: 30px;
}
.shopping-cart .cart-ship-info input {
	border: 1px solid #2d3a4b;
	width: 60px;
	height: 44px;
	float: left;
	width: 100%;
	font-size: 11px;
	padding: 0 10px;
	letter-spacing: 1px;
	display: inline-block;
	font-weight: normal;
	text-align: left;
	margin-top: 10px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.shopping-cart .bootstrap-select .btn {
	margin-top: 10px;
	background: #fff !important;
	border: 1px solid #ebebeb;
	color: #b8b8b8;
	font-size: 10px;
	letter-spacing: 2px;
}
.shopping-cart .order-place input {
	margin: 0px;
	height: auto !important;
}
.shopping-cart .cart-ship-info label {
	font-size: 10px;
	margin-bottom: 20px;
	display: inline-block;
	width: 100%;
	font-size: 12px;
	font-weight: normal;
	color: #2d3a4b;
}
.shopping-cart .cart-ship-info .grand-total {
	border: 3px solid #ffe115;
	padding: 15px 30px;
}
.shopping-cart .cart-ship-info .order-detail p {
	font-weight: normal;
	color: #2d3a4b;
	border-bottom: 1px solid #ebebeb;
	padding: 10px 0;
	font-size: 12px;
	margin: 0px;
}
.shopping-cart .grand-total .all-total {
	border-bottom: none !important;
}
.shopping-cart .cart-ship-info .grand-total {
}
.shopping-cart .cart-ship-info .grand-total h4 {
	font-size: 20px;
	font-weight: bold;
	margin: 20px 0px;
}
.shopping-cart .cart-ship-info .grand-total h4 span {
	color: #af5875;
}
.shopping-cart .cart-ship-info .grand-total .btn {
	background: #af5875;
	border-color: #af5875;
	width: 100%;
	margin: 0px;
	margin-bottom: 10px;
}
.shopping-cart .cart-ship-info .grand-total .btn:hover {
	background: #272727;
}
.shopping-cart .cart-ship-info .grand-total p {
	letter-spacing: 1px;
}
.shopping-cart .grand-total p span {
	float: right;
}
.shopping-cart .checkbox input {
	height: auto;
}
.shopping-cart .checkbox label::before {
	margin-left: 0px;
}
.shopping-cart .order-place {
	border: 3px solid #ffe115;
	padding: 30px;
	display: inline-block;
	width: 100%;
}
.shopping-cart .order-place h5 {
	font-weight: bold;
	color: #af5875;
	margin: 0px;
}
.shopping-cart .order-place .order-detail p {
	font-weight: normal;
	color: #2d3a4b;
	border-bottom: 1px solid #ebebeb;
	padding: 10px 0;
	font-size: 12px;
	margin: 0px;
}
.shopping-cart .all-total {
	font-size: 18px !important;
	font-weight: bold !important;
}
.shopping-cart .order-place .order-detail p span {
	float: right;
}
.shopping-cart .order-place .order-detail {
	margin-bottom: 30px;
}
.shopping-cart .order-place .item-order span {
	color: #af5875;
	float: none;
}
.shopping-cart .order-place .item-order {
	min-height: 100px;
	padding-bottom: 30px;
	padding-top: 20px;
	border-top: 1px solid #ebebeb;
}
.shopping-cart .order-place .item-order p {
	text-transform: none;
	font-size: 10px;
	border: none;
	margin: 0px;
	padding: 0px;
	color: #b8b8b8;
	font-weight: normal;
}
.shopping-cart .order-place .pay-meth p {
	color: #b8b8b8;
	font-size: 12px;
	line-height: 18px;
}
.shopping-cart .order-place .pay-meth ul {
	margin-top: 30px;
}
.shopping-cart .order-place .pay-meth ul li {
	display: inline-block;
	width: 100%;
	padding-top: 0px;
}
.shopping-cart .order-place .pay-meth label {
	margin-bottom: 0px;
	font-weight: normal;
	font-size: 12px;
}
.shopping-cart .order-place .pay-meth .color {
	color: #af5875;
}
.shopping-cart .btn {
	font-size: 14px;
	padding: 0px 30px;
}
.shopping-cart .btn:hover {
	background: #ffe115 !important;
}
.small-cart .cart-ship-info form {
	background: #eeeeee;
	padding: 50px;
	display: inline-block;
	width: 100%;
}
.small-cart .cart-ship-info form input {
	width: 70%;
	float: left;
	border-right: 0px;
	margin: 0px;
}
.small-cart .cart-ship-info form button.btn {
	width: 30%;
	height: 44px;
	float: left;
}
.small-cart .coupn-btn {
	margin-top: 30px;
}
.small-cart .coupn-btn .btn {
	background: #eeeeee;
	color: #2d3a4b;
	margin-right: 30px;
}
/*=======================================================
      PAGINATION
========================================================*/
.pagination {
	float: right;
	border: none;
	border-radius: 0px;
}
.pagination li a {
	border-radius: 0px !important;
	border: none;
	background: #2d3a4b;
	color: #fff;
	margin: 0 2px;
	height: 23px;
	width: 23px;
	padding: 0px;
	text-align: center;
	line-height: 23px;
	font-size: 12px;
}
.pagination li a:hover {
	background: #ffe115;
	color: #2d3a4b;
}
.pagination li.active a {
	background: #ffe115;
	color: #2d3a4b;
}
.pagination.in-center {
	text-align: center;
	width: 100%;
}
.pagination.in-center li {
	display: inline-block;
}

/*=======================================================
      BUTTON
========================================================*/
.btn {
	border: none;
	color: #fff;
	display: inline-block;
	padding: 5px 50px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	border-radius: 0px;
	line-height: 46px;
	background: #2d3a4b;
	letter-spacing: 1px;
	position: relative;
	z-index: 1;
}

.tab-pane.text-right {
	text-align: center;
}
.tab-pane.text-right {
	text-align: center;
}
